git
python3-colcon-common-extensions
python3-vcstool
python3-rosdep
ros-humble-rclpy
ros-humble-control-msgs
ros-humble-trajectory-msgs
ros-humble-sensor-msgs
ros-humble-std-srvs
ros-humble-controller-manager-msgs
ros-humble-action-msgs
ros-humble-builtin-interfaces
ros-humble-launch
ros-humble-launch-ros
ros-humble-geometry-msgs
ros-humble-tf2-ros-py
python3-flask
python3-numpy
